{{> nav-lat}}
<div class="content-page-container full-reset custom-scroll-containers">
    {{> nav-sup }}
    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema de eventos universitarios <small>Organizadores</small></h1>
        </div>
    </div>
    <div class="conteiner-fluid">
        <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
            <li role="presentation"><a href="/registroOrg">Registro</a></li>
            <li role="presentation" class="active"><a href="/listaOrg">Lista de Organizadores</a></li>
        </ul>
    </div>
    <div class="container-fluid"  style="margin: 50px 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <img src="assets/img/user05.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                Bienvenido a la sección donde se encuentra el listado de los organizadores registrados en el sistema, puedes actualizar algunos datos  o eliminar el registro completo del organizador<br>
                <strong class="text-danger"><i class="zmdi zmdi-alert-triangle"></i> &nbsp; ¡Importante! </strong>Si eliminas el organizador del sistema se borrarán todos los datos relacionados con él.
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form class="pull-right" style="width: 30% !important;" autocomplete="off">
            <div class="group-material">
                <input type="search" style="display: inline-block !important; width: 70%;" class="material-control tooltips-general" placeholder="Buscar personal" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚ ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el nombre completo">
                <button class="btn" style="margin: 0; height: 43px; background-color: transparent !important;">
                    <i class="zmdi zmdi-search" style="font-size: 25px;"></i>
                </button>
            </div>
        </form>
        <h2 class="text-center all-tittles" style="clear: both; margin: 25px 0;">listado de Organizadores</h2>
        <div class="table-responsive">
            <div class="div-table" style="margin:0 !important;">
                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                    <div class="div-table-cell" style="width: 6%;">Id</div>
                    <div class="div-table-cell" style="width: 15%;">Nombre</div>
                    <div class="div-table-cell" style="width: 15%;">Usuario</div>
                    <div class="div-table-cell" style="width: 15%;">Correo</div>
                    <div class="div-table-cell" style="width: 12%;">Teléfono</div>
                    <div class="div-table-cell" style="width: 15%;">Organización</div>
                    <div class="div-table-cell" style="width: 9%;">Actualizar</div>
                    <div class="div-table-cell" style="width: 9%;">Eliminar</div>
                </div>
            </div>
            {{#each item}}
            <div class="table-responsive">
                <div class="div-table" style="margin:0 !important;">
                    <div class="div-table-row div-table-row-list">
                        <div class="div-table-cell" style="width: 6%;">{{idUsuario}}</div>
                        <div class="div-table-cell" style="width: 15%;">{{Nombre}}</div>
                        <div class="div-table-cell" style="width: 15%;">{{Usuario}}</div>
                        <div class="div-table-cell" style="width: 15%;">{{Correo}}</div>
                        <div class="div-table-cell" style="width: 12%;">{{telefono}}</div>
                        <div class="div-table-cell" style="width: 15%;">{{organizacion}}</div>
                        <div class="div-table-cell" style="width: 9%;">
                            <button class="btn btn-success"><i class="zmdi zmdi-refresh"></i></button>
                        </div>
                        <div class="div-table-cell" style="width: 9%;">
                            <button class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{> footer}}
</div>